In [24]:
import pandas as pd
with open('/share/shmatikov/collin/adversarial_decoding/data/misinfo/DataSet_Misinfo_FAKE.csv', 'r') as f:
    df = pd.read_csv(f)

# filter text with more than 50 words
df = df[df['text'].str.split().apply(len) <= 50]
df = df[df['text'].str.split().apply(len) >= 10]

In [25]:
df

       Unnamed: 0                                               text
4479         4479  There s not much to say here. GIPHY killed it ...
10637       10637  CNN Reports   Three members of the legal team ...
10735       10735  Hillary Clinton continues on the path to compl...
10928       10929  White House Press Secretary Sean Spicer appear...
10963       10964  Watch this hilarious video from our British co...
...           ...                                                ...
43632       44417  In the village of Starychi, a man’s body was f...
43633       44418  In the village of Starychi, a man’s body was f...
43634       44419  In the village of Starychi, a man’s body was f...
43635       44420  In the village of Starychi, a man’s body was f...
43636       44421  Apparently, the new Kyiv government is in a hu...

[7021 rows x 2 columns]

In [29]:
# filter by text column contain a keyword
keywords = ['paypal', 'tesla', 'walmart', 'europe', 'trump']
for keyword in keywords:
    keyword_ll = df[df['text'].str.contains(keyword, case=False)]['text'].tolist()
    print(len(keyword_ll))
    print(keyword_ll[0])

1
PayPal co-founder Peter Thiel has received tons of criticism for his wayward support of Donald Trump, and is coming under fire even more for his recent donation of $1.25 million to Trump’s...
1
by having it be about climate and not about the general planetary destruction of nature, land, and lifestyle we are doomed to fail
ecosystem destroying solar plants in pristine desert valleys and buying Teslas are not the answer
1
LANGUAGE WARNING! A woman at Walmart gets into it with a guy who was paying with Food Stamps:
642
LET S FACE IT EUROPE IS TOAST! HERE S A MUSLIM IMAM SPILLING THE BEANS ON THE HIJRAH:  WE WILL CONQUER THEIR COUNTRIES https://www.youtube.com/watch?v=OLE1pXGo700It s difficult to see this screenshot of the list so please go to Wrapsnet for more details: WRAPSNET
443
To set up the attack on Trump, CNN producers  showed Hillary Clinton saying,  we cannot speak of protecting Syria s babies, and in the next breath close America s doors to them .What happened next shocked Baldwin and she couldn t shut this guy down fast enough Epic!

In [22]:
df['text'].tolist()[1]

'by having it be about climate and not about the general planetary destruction of nature, land, and lifestyle we are doomed to fail\necosystem destroying solar plants in pristine desert valleys and buying Teslas are not the answer'